.menu {font-family: 'BPG Nino Mtavruli';
       display: inline-block;
        margin-right: 20px;}
.header {background-color: lightpink;
         height:40px;
         padding: 10px;
         position: fixed;
         width: 100%;
         top: 0;
         left: 0;
         z-index: 10;}        

.logo {display: inline-block; margin-right: 50px;}  
.navigation {display: inline-block;}     
.salome { font-family: 'BPG Nino Mtavruli';
	font-weight: bold;
	font-style: italic;
	margin-top: 40px;
}
.box1 {height: 150px;
       width: 150px;
       position: relative;
       background-color: black;
       z-index: 9;}
.box2 {height: 20px;
       width: 20px;
       position: absolute;
       background-color: red;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       z-index: 8;}       
.body {height: 1500px;}
.photo {position: relative;
       }
.number {position: absolute;
        top: 50px;
        right: 50px;}
.photo111 {width: 100%;
           }        
.chat {position: fixed;
       bottom: 30px;
       right: 30px;}